<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IUF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sign_in</display-name>
    <servlet-name>sign_in</servlet-name>
    <servlet-class>sign_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_in</servlet-name>
    <url-pattern>/sign_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>in_progress</display-name>
    <servlet-name>in_progress</servlet-name>
    <servlet-class>in_progress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>in_progress</servlet-name>
    <url-pattern>/in_progress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign_off</display-name>
    <servlet-name>sign_off</servlet-name>
    <servlet-class>sign_off</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_off</servlet-name>
    <url-pattern>/sign_off</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assignments</display-name>
    <servlet-name>assignments</servlet-name>
    <servlet-class>assignments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignments</servlet-name>
    <url-pattern>/assignments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>status_update</display-name>
    <servlet-name>status_update</servlet-name>
    <servlet-class>status_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status_update</servlet-name>
    <url-pattern>/status_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>my_details</display-name>
    <servlet-name>my_details</servlet-name>
    <servlet-class>my_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my_details</servlet-name>
    <url-pattern>/my_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>status_update_reply</display-name>
    <servlet-name>status_update_reply</servlet-name>
    <servlet-class>status_update_reply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status_update_reply</servlet-name>
    <url-pattern>/status_update_reply</url-pattern>
  </servlet-mapping>
</web-app>